root = true

[*]
end_of_line = lf
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true

# PSR-2に準拠します
[*.php]
indent_style = space
indent_size = 4

# FuelPHPのViewファイル用です。ViewはHTMLとPHPが混ざるので、ファイル名を_view.phpにして、スペース2つを基準にしていました。独自の書き方をしていた既存ファイル用なので気にしないでください。
[*_view.php]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
