{
  "env": {
    "browser": true,
    "commonjs": true,
    "jquery": true,
    "es6": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "extends": "airbnb",
  "rules": {
    "comma-dangle": 0,// 行末にコンマを付けなければならない 無効
    "func-names": 0,// 必ず関数名を付けなければならない 無効
    # "padded-blocks": 0,// {}の後に無駄な改行を入れてはいけない 無効
    "max-len": 0,
    "no-multiple-empty-lines": [2, {"max": 20}],// 空白のラインが20行以上あってはいけない
    "react/no-multi-comp": 0,// ひとつのファイルにはひとつのコンポーネントしか存在してはいけない 無効
    "react/prefer-stateless-function": 0//react ステートレス関数にしなければならない 無効
  }
}
