/* --------------------------------------------------
   基本
-------------------------------------------------- */

.app-pay-list-1 {
  list-style-type: disc;
  margin: 30px 0 30px 25px;
}

.app-pay-list-1 li {
  margin: 0 0 6px;
}

.app-pay-list-2 {
  list-style-type: decimal;
  margin: 0 0 0 15px;
}

.app-pay-list-2 li {
  margin: 0 0 20px;
}

.app-pay-list-2 .li-bottom {
  margin-bottom: 0;
}

.app-pay-form-stripe-button-margin {
  margin: 10px 10px 0 0;
}

.app-pay-form-group-margin {
  margin: 0 0 30px;
}

.app-pay-form-group-margin-bottom {
  margin: 0 0 20px;
}

.app-pay-form-alert {
  margin: 20px 0 0;
}
