/* --------------------------------------------------
   基本
-------------------------------------------------- */

.content-container {
  border-radius: 6px;
  box-shadow: 1px 1px 1px #bababa;
  background-color: #fff;
  padding: 20px;
}

.pay-form-group-margin {
  margin: 0 0 30px;
}
