/* --------------------------------------------------
   基本
-------------------------------------------------- */

/*.content-container {
  border-radius: 6px;
  box-shadow: 1px 1px 1px #bababa;
  background-color: #fff;
  padding: 20px;
}*/

.app-pay-form-stripe-button-margin {
  margin: 10px 10px 0 0;
}

.app-pay-form-group-margin {
  margin: 0 0 30px;
}

.app-pay-form-group-margin-bottom {
  margin: 0 0 20px;
}

.app-pay-form-alert {
  margin: 20px 0 0;
}
