@charset "UTF-8";

/* ----------------------------------------
 *  Core Style:
 * ---------------------------------------- */
.lastSidebar {
	width: 30%;
	height: 100%;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9998;
	/*overflow: scroll;*/
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	background: #fff;
	-webkit-box-shadow: 8px 0 8px -8px #666 inset;
	-moz-box-shadow: 8px 0 8px -8px #666 inset;
	box-shadow: 8px 0 8px -8px #666 inset;
}
#lastOverlay {
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9997;
	background: rgba(0, 0, 0, 0.5);
}
body.noscroll {
	width: 100%;
	position: fixed;
	left: 0;
	right: 0;
	overflow: hidden;
}

/* ----------------------------------------
 *  Responsive Style:
 * ---------------------------------------- */
@media only screen and (max-width: 769px) {
	.lastSidebar {
		width: 30%;
	}
}
@media only screen and (max-width: 768px) {
	.lastSidebar {
		width: 55%;
	}
}
@media only screen and (max-width: 480px) {
	.lastSidebar {
		width: 90%;
	}
}

/* ----------------------------------------
 *  User Style:
 * ---------------------------------------- */

/*.slideMenu {
	visibility:hidden;
}
.slideMenu div {
	margin: 0;
	padding: 24px 16px;
	overflow:hidden;
}
.globalNavi {
	border-top: dotted 1px #333;
}
.globalNavi li {
	border-bottom: dotted 1px #333;
}
.globalNavi li a {
	padding: 0 16px;
	display: block;
	line-height: 3.2em;
}*/
/*.triggerBtn {
	width: 32px;
	height: 32px;
	display: block;
	position: fixed;
	top: 12px;
	right: 20px;
	left: auto;
	z-index: 9999;
	background: none;
}*/
/*#menuTrigger,
#menuTrigger span {
	display: inline-block;
	box-sizing: border-box;
	transition: all .4s;
}
#menuTrigger {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
#menuTrigger:active {
	background: rgba(255, 255, 255, 0.4);
}
#menuTrigger span {
	width: 28px;
	height: 2px;
	position: absolute;
	left: 2px;
	border-radius: 4px;
	background-color: #888;
	-webkit-box-shadow: 0 0 4px #fff;
	-moz-box-shadow: 0 0 4px #fff;
	box-shadow: 0 0 4px #fff;
}
#menuTrigger span:nth-of-type(1) {
	top: 4px;
}
#menuTrigger span:nth-of-type(2) {
	top: 15px;
}
#menuTrigger span:nth-of-type(3) {
	bottom: 4px;
}
#menuTrigger.active span:nth-of-type(1) {
	-webkit-transform: translateY(11px) rotate(-45deg);
	transform: translateY(11px) rotate(-45deg);
}
#menuTrigger.active span:nth-of-type(2) {
	opacity: 0;
}
#menuTrigger.active span:nth-of-type(3) {
	-webkit-transform: translateY(-11px) rotate(45deg);
	transform: translateY(-11px) rotate(45deg);
}*/
