/*@font-face {
	font-family: 'Yu Gothic';
	src: local('Yu Gothic Medium');
	font-weight: 100;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 100;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 200;
}*/


body {
	background-color: #ECF0F1;

	/* http://qiita.com/RinoTsuka/items/4181efd43d072e246519 2020年まで使えるfont-familyのベストプラクティス*/
	/*font-family: "-apple-system", "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;*/
  font-family: -apple-system, BlinkMacSystemFont, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", sans-serif;
  /*line-height: 1.8em;*/
	word-wrap: break-word;
}

/* IE10以上 */
/*@media all and (-ms-high-contrast: none) {
  body {
    font-family: Verdana, Meiryo, sans-serif;
  }
}*/

p {
	margin: 0;
	padding: 0;
}




/* --------------------------------------------------
	共通
-------------------------------------------------- */

.element_visible {
	display:block;
}
.element_hidden {
	display: none;
}
.element_shadow {
	box-shadow: 2px 2px 5px #bababa;
}



/* --------------------------------------------------
	ベル
-------------------------------------------------- */

.bell_box {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-align-items: center;
	align-items: center;
}
.bell_box:link {
    color: #000000;
}
.bell_box:visited {
    color: #000000;
}
.bell_box:hover {
	color: #0f7718;
}
.bell_box:active {
    color: #000000;
}
/*.bell {

}
.bell_number {

}*/






/* --------------------------------------------------
	ヒーローイメージ
-------------------------------------------------- */

.hero_image_box {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: space-between;
	justify-content: space-between;

	height: 100%;
}

.hero_title {
	font-size: 40px;
	color: #efefef;
	margin: 10px 0 0 20px;
	text-decoration: none;

	text-shadow:
	0 1px 0 #222,
	0 2px 0 #5e5e5e,
	0 3px 0 #111,
	0 4px 0 #5e5e5e,
	0 5px 0 #000,
	0 6px 1px rgba(0,0,0,.1),
	0 0 5px rgba(0,0,0,.1),
	0 1px 3px rgba(0,0,0,.3),
	0 3px 5px rgba(0,0,0,.2),
	0 5px 10px rgba(0,0,0,.25),
	0 10px 10px rgba(0,0,0,.2),
	0 20px 20px rgba(0,0,0,.15);
}
.hero_title_s {
	font-size: 26px;
	color: #efefef;
	margin: 10px 0 0 20px;
	text-decoration: none;

	text-shadow:
	0 1px 0 #222,
	0 2px 0 #5e5e5e,
	0 3px 0 #111,
	0 4px 0 #5e5e5e,
	0 5px 0 #000,
	0 6px 1px rgba(0,0,0,.1),
	0 0 5px rgba(0,0,0,.1),
	0 1px 3px rgba(0,0,0,.3),
	0 3px 5px rgba(0,0,0,.2),
	0 5px 10px rgba(0,0,0,.25),
	0 10px 10px rgba(0,0,0,.2),
	0 20px 20px rgba(0,0,0,.15);
}
.hero_title_link:link {
	text-decoration: none;
}
.hero_title_link:visited {
	text-decoration: none;
}
.hero_title_link:hover {
	text-decoration: none;
}
.hero_title_link:active {
	text-decoration: none;
}



/* --------------------------------------------------
	ヒーローイメージ　カード
-------------------------------------------------- */

.card_hero_box {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: flex-start;
	align-items: flex-start;

	margin: 20px auto 20px auto;
}
.card_hero {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;

	margin: 0 0 0 14px;
	width: 128px;
	border-radius: 8px;
	box-shadow: 4px 4px 10px #383838;
	background-color: #FFFFFF;
	cursor: pointer;
}
.card_hero .image {
	padding: 0;
	border-radius: 8px;
	/*background-color: #cbaa83;*/
}
.card_hero .image img {
	width: 100%;
	/*border-radius: 8px 8px 0 0;*/
	border-radius: 8px;
}
/*.card_hero h1 {
	margin: 0;
	padding: 8px 10px 6px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}*/


/* --------------------------------------------------
	ヒーローイメージ　ゲームデータ
-------------------------------------------------- */

.hero_image_data_right {
	-webkit-align-self: flex-end;
	align-self: flex-end;
	margin: 0 0 14px 0;
}
.hero_image_data {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;

	min-width: 150px;
	max-width: 300px;
	margin: 0 14px 0 14px;
	padding: 0;
	border-radius: 8px;
	/*box-shadow: 4px 4px 10px #383838;*/
	background-color: #000000;
	background-color: rgba(0,0,0,0.5);
	color: #FFFFFF;
}
.hero_image_data .title {
	margin: 0;
	padding: 4px 10px 4px 10px;
	border-bottom:#d51a53 solid 1px;
	font-size: 14px;
	line-height: 1.6em;
}
.hero_image_data .data {
	padding: 6px 20px 0 20px;
	font-size: 12px;
}
.hero_image_data .link {
	padding: 10px 10px 8px 10px;
}
.hero_image_data .link .icon {
	padding: 0 12px 0 0;
	font-size: 12px;
}

/*.hero_image_data_button {
	margin: 0 14px 0 auto;
	text-align: right;
}*/


/* --------------------------------------------------
	メイン
-------------------------------------------------- */

.main_pc {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: center;
	justify-content: center;
	/*align-items: flex-start;*/

	/*background-color: #e7d873;*/
	/*display: table;*/

	/*flex: 1;*/
	/*width: 100%;*/
	padding: 0 0 0 20px;
}


/* スモール版 */

.main_s {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	/*-webkit-justify-content: center;
	justify-content: center;*/

	/*padding-top: 14px;*/
	/*background-color: #e7d873;*/
}
.wrapper_s {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;

	/*min-width: 10px;*/
}



/* --------------------------------------------------
	コンテンツ
-------------------------------------------------- */

main .content {
	flex: 1;
	/*background-color: blue;*/
	padding: 0 0 0 15px;
	min-width: 1em;
}
main .content .feed_card_box {
	margin: 0 0 0 5px;
	/*background-color: #0d6330;*/
}


/* スモール版 */

main .content_s {
	flex: 1;
	/*background-color: blue;*/
	/*margin: 0 0 15px 0;*/
	min-width: 1em;
}
main .content_s .visible {
	/*visibility:visible;*/
	display:block;
}
main .content_s .hidden {
	/*visibility:hidden;*/
	display: none;
}
main .content_s .feed_card_box {
	margin: 0 0 0 5px;
	/*background-color: #0d6330;*/
}



/* --------------------------------------------------
	メニュー
-------------------------------------------------- */

main .menu {
	width: 300px;

	/*margin: 0 0 0 20px;*/
	/*background-color: pink;*/
}
main .menu .slide .visible {
	display:block;
}
main .menu .slide .hidden {
	display: none;
}
main .menu .slide {
	position:relative;
}
main .menu .ad {
	margin: 0 0 30px 0;
}
main .menu .ad_thumbnail_box {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

main .menu .normal {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	/*-webkit-flex-wrap: nowrap;
	flex-wrap: nowrap;*/
	-webkit-align-items: center;
	align-items: center;

	border-radius: 4px;
	box-shadow: 2px 2px 5px #bababa;
	margin: 0 0 14px 0;
	background-color: #FFFFFF;
	cursor: pointer;
}

main .border_color_1 {
	border-right:#ff5252 solid 10px;
}
main .border_color_2 {
	border-right:#FF4081 solid 10px;
}
main .border_color_3 {
	border-right:#E040FB solid 10px;
}
main .border_color_4 {
	border-right:#7C4DFF solid 10px;
}
main .border_color_5 {
	border-right:#536DFE solid 10px;
}
main .border_color_6 {
	border-right:#448AFF solid 10px;
}
main .border_color_7 {
	border-right:#40C4FF solid 10px;
}
main .border_color_8 {
	border-right:#18FFFF solid 10px;
}
main .border_color_9 {
	border-right:#64FFDA solid 10px;
}
main .border_color_10 {
	border-right:#69F0AE solid 10px;
}
main .border_color_11 {
	border-right:#B2FF59 solid 10px;
}

main .menu .normal .left {
	display: -webkit-flex;
	display: flex;
	/*-webkit-flex-direction: row;
	flex-direction: row;*/
	/*-webkit-flex-wrap: nowrap;
	flex-wrap: nowrap;*/
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;

	border-radius: 4px 0  0 4px;
	width: 44px;
	height: 35px;
	background-color: #FFFFFF;
}
main .menu .normal .left i {
	border-radius: 4px 0  0 4px;
	font-size: 30px;
}
main .menu .normal .right {
	padding: 0 0 0 16px;
	border-left:#c7c7c7 solid 1px;
}
main .menu .normal .selected_icon {
	margin: 0 0 0 auto;
	padding: 0 10px 0 0;
}

.menu_margin_feed {
	margin: 0 0 25px 0;
}
.menu_margin_community {
	margin: 0 0 10px 0;
}
.menu_margin_wiki {
	margin: 0 0 10px 0;
}

.menu_margin_bbs {
	margin: 0 0 10px 0;
}
.menu_margin_rec {
	margin: 0 0 15px 0;
}
.menu_margin_config {
	margin: 0 0 10px 0;
}


/* スモール版 */

main .menu_s {
	width: 40px;
	/*background-color: pink;*/
	/*margin: 0 0 15px 0;*/
}
main .menu_s .visible {
	visibility:visible;
}
main .menu_s .hidden {
	visibility:hidden;
}

main .menu_s .icon_box {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	align-items: center;
	height: 200px;
	/*background-color: orange;*/
}
main .menu_s .icon {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	align-items: center;

	border-radius: 3px;
	background-color: #FFFFFF;
	box-shadow: 1px 1px 3px #bababa;
	border:#dbdeff solid 1px;
}
main .menu_s .icon i {
	font-size: 28px;
}
main .menu_s .icon .icon_arrow {
	padding: 5px;
	font-size: 20px;
}
main .menu_s .icon .icon_menu {
	padding: 4px 6px 6px 4px;
	font-size: 20px;
}


/* --------------------------------------------------
	ウェーブアイコン
-------------------------------------------------- */

.spinner {
  margin: 5px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  -moz-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  -moz-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  -moz-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  -moz-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  -moz-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
	0%, 40%, 100% {
		-webkit-transform: scaleY(0.4);
		transform: scaleY(0.4);
	}
	20% {
		-webkit-transform: scaleY(1.0);
		transform: scaleY(1.0);
	}
}

@keyframes sk-stretchdelay {
	0%, 40%, 100% {
		-webkit-transform: scaleY(0.4);
		transform: scaleY(0.4);
	}  20% {
		-webkit-transform: scaleY(1.0);
		transform: scaleY(1.0);
	}
}




/* --------------------------------------------------
	フッター
-------------------------------------------------- */

footer {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: flex-start;
	align-items: flex-start;

	padding: 20px 0 20px 20px;

	background-color: #000000;
}
footer .select_button {
	margin: 0 0 20px 0;
	width: 260px;
}
footer .content_card {
	width: 100%;
}
footer .select_box {
	width: 260px;
}
footer .card_box {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-items: flex-start;
	align-items: flex-start;

	width: 100%;
	margin: 20px 0;
}
footer .index_box {
	width: 80%;
	margin: 20px auto 40px auto;
	padding: 0 20px 0 0;
	box-sizing: border-box;
}
footer .index_box_s {
	width: 100%;
	margin: 20px auto 40px auto;
	padding: 0 20px 0 0;
	box-sizing: border-box;
}
footer .copyright {
	-webkit-align-self: center;
	align-self: center;
	color: #FFFFFF;
}
footer .btn-group .btn-group .active {
	z-index: 0;
}





/* --------------------------------------------------
	カード　共通
-------------------------------------------------- */

.card_link {
	text-decoration: none;
	color: #000000;
}
.card_link:link {
	text-decoration: none;
    color: #000000;
}
.card_link:visited {
	text-decoration: none;
    color: #000000;
}
.card_link:hover {
	text-decoration: none;
	color: #000000;
}
.card_link:active {
	text-decoration: none;
    color: #000000;
}


/* --------------------------------------------------
	カード　基本
-------------------------------------------------- */

.card {
	display: -webkit-inline-flex;
	display: inline-flex;
	-webkit-flex-direction: row;
	flex-direction: row;

	width: 614px;
	border-radius: 8px;
	box-shadow: 2px 2px 5px #bababa;
	margin: 0 0 14px 0;
}
.card_long {
	width: 96%;
}
.card .left {
	border-radius: 8px 0 0 8px;
	vertical-align: top;
	background-color: #ecf0f1;
}
.card .left img {
	border-radius: 8px 0 0 8px;
}
.card .right {
	flex: 1;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;

	min-width: 200px;
	border-radius: 0 8px 8px 0;
	background-color: #FFFFFF;
	padding: 10px 12px;
	vertical-align: top;
	font-size: 14px;
	line-height: 1.6em;
}
.card .right .title {
	font-size: 14px;
	font-weight: bold;
	line-height: 1.6em;
	margin: 0 0 8px 0;
}
.card .right .comment {
	margin: 0 0 10px 0;
}
.card .right .info {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;

	font-size: 12px;
	margin: auto 0 0 0;
	padding: 10px 0 0 0;
	border-top:#dbdeff solid 1px;
}
.card .right .info .type {
	padding: 0 14px 0 0;
	white-space: nowrap;
}
.card .right .info .type span {
	padding: 0 3px 0 0;
}
.card .right .info .time {
	-webkit-align-self: flex-start;
	align-self: flex-start;
	padding: 0 16px 0 0;
	white-space: nowrap;
}
.card .right .info .name {
	margin-left: auto;
	font-weight: bold;
	color: #337ab7;
}
.card .right .info .name:hover {
	text-decoration: underline;
}




/* スモール版 */

.card_s {
	display: -webkit-inline-flex;
	display: inline-flex;
	-webkit-flex-direction: column;
	flex-direction: column;

	width: 100%;
	/*max-width: 300px;*/
	border-radius: 8px;
	box-shadow: 2px 2px 5px #bababa;
	margin: 0 0 14px 0;
	background-color: #FFFFFF;
	cursor: pointer;
}
.card_s .top {
	display: -webkit-inline-flex;
	display: inline-flex;
	-webkit-flex-direction: row;
	flex-direction: row;

	border-radius: 8px 0 0 0;
}
.card_s .top .left {
	width: 96px;
}
.card_s .top .left img {
	border-radius: 8px;
}
.card_s .top .right {
	flex: 1;

	font-weight: bold;
}
.card_s .top .right .title {
	display: -webkit-inline-flex;
	display: inline-flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;


	/*background-color: red;*/
	height: 48px;
	overflow: hidden;
}
.card_s .top .right .title h2 {
	padding: 0 8px 0 8px;
	margin: 0;
	font-size: 12px;
	font-weight: bold;
	line-height: 1.5em;
}
.card_s .top .right .info {
	display: -webkit-inline-flex;
	display: inline-flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	/*-webkit-align-items: center;
	align-items: center;*/
	/*-webkit-justify-content: space-between;
	justify-content: space-between;*/

	width: 100%;
	height: 24px;
	font-size: 12px;
	background-color: #f5f5f5;
}
.card_s .top .right .info .type {
	padding: 4px 14px 0 8px;
	white-space: nowrap;
}
.card_s .top .right .info .type span {
	padding: 0 3px 0 0;
}
.card_s .top .right .info .time {
	padding: 4px 0 0 0;
	white-space: nowrap;
}
.card_s .top .right .name {
	font-size: 12px;
	height: 24px;

	background-color: #f5f5f5;
	overflow: hidden;
}
.card_s .top .right .name div {
	padding: 0 8px 0 8px;
	line-height: 2em;
	font-weight: bold;
	color: #337ab7;
}
.card_s .top .right .name_tall {
	display: -webkit-inline-flex;
	display: inline-flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;

	font-size: 12px;
	width: 100%;
	height: 48px;
	background-color: #f5f5f5;
	overflow: hidden;
}
.card_s .top .right .name_tall div {
	padding: 0 8px 0 8px;
	line-height: 2em;
	font-weight: bold;
	color: #337ab7;
}
.card_s .bottom {
	padding: 12px;
	border-radius: 0 0 8px 8px;
	/*background-color: red;*/
}



/* --------------------------------------------------
	カード　中型
-------------------------------------------------- */

.card_medium {
	display: -webkit-inline-flex;
	display: inline-flex;
	-webkit-flex-direction: column;
	flex-direction: column;

	width: 300px;
	/*width: 276px;*/
	/*max-width: 276px;*/
	border-radius: 8px;
	box-shadow: 2px 2px 5px #bababa;
	margin: 0 0 14px 0;
	/*margin:10px;*/
	cursor: pointer;
}
.card_medium .top {
	border-radius: 8px 8px 0 0;
	vertical-align: top;
	position: relative;
	background-color: #FFFFFF;
}
.card_medium .top img {
	border-radius: 8px 8px 0 0;
	max-height: 500px;
	width: 100%;
}
.card_medium .top_v {
	border-radius: 8px 8px 0 0;
	vertical-align: top;
	text-align: center;
	position: relative;
	background-color: #000000;
}
.card_medium .top_v img {
	/*border-radius: 8px 8px 0 0;*/
	max-height: 300px;
	/*width: 100%;*/
}
.card_medium .top .video_play_button {
    position: absolute;
    top: 0;
    left: 0;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}
.card_medium .top .video_play_button:hover {
	opacity: 0.7;
}

.card_medium .bottom {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;

	border-radius: 0 0 8px 8px;
	background-color: #FFFFFF;
	padding: 10px 12px;
	vertical-align: top;
	font-size: 14px;
	line-height: 1.6em;
}
.card_medium .bottom .title {
	font-size: 14px;
	font-weight: bold;
	line-height: 1.6em;
	margin: 0 0 8px 0;
}
.card_medium .bottom .comment {
	margin: 0 0 10px 0;
}
.card_medium .bottom .info {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;

	font-size: 12px;
	margin: auto 0 0 0;
	padding: 10px 0 0 0;
	border-top:#dbdeff solid 1px;
}
.card_medium .bottom .info .type_time {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	flex: 1;

	/*background-color: rgb(13, 207, 106);*/
}
.card_medium .bottom .info .type_time .type {
	padding: 0 14px 0 0;
	white-space: nowrap;
}
.card_medium .bottom .info .type_time .type span {
	padding: 0 3px 0 0;
}
.card_medium .bottom .info .type_time .time {
	-webkit-align-self: flex-start;
	align-self: flex-start;
	padding: 0 16px 0 0;
	white-space: nowrap;
}
/*.card_medium .bottom .info .name {
	margin-left: auto;
	font-weight: bold;
}*/
.card_medium .bottom .info .name {
	margin-left: auto;
	font-weight: bold;
	color: #337ab7;
}
.card_medium .bottom .info .name:hover {
	text-decoration: underline;
}



/* スモール版 */

.card_medium_s {
	display: -webkit-inline-flex;
	display: inline-flex;
	-webkit-flex-direction: column;
	flex-direction: column;

	width: 100%;
	border-radius: 8px;
	box-shadow: 2px 2px 5px #bababa;
	margin: 0 0 14px 0;
	cursor: pointer;
}
.card_medium_s .top {
	border-radius: 8px 8px 0 0;
	vertical-align: top;
	position: relative;
	/*background-color: #ecf0f1;*/
}
.card_medium_s .top img {
	border-radius: 8px 8px 0 0;
	width: 100%;
}
.card_medium_s .top_v {
	border-radius: 8px 8px 0 0;
	vertical-align: top;
	text-align: center;
	position: relative;
	background-color: #000000;
}
.card_medium_s .top_v img {
	max-height: 300px;
}
.card_medium_s .top .video_play_button {
    position: absolute;
    top: 0;
    left: 0;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}
.card_medium_s .top .video_play_button:hover {
	opacity: 0.7;
}

.card_medium_s .bottom {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;

	border-radius: 0 0 8px 8px;
	background-color: #FFFFFF;
	padding: 3px 12px 5px;
	vertical-align: top;
	font-size: 14px;
	line-height: 1.6em;
}
.card_medium_s .bottom .title {
	font-size: 14px;
	font-weight: bold;
	line-height: 1.6em;
	margin: 4px 0 8px 0;
}
.card_medium_s .bottom .comment {
	margin: 0 0 12px 0;
}
.card_medium_s .bottom .info {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;

	font-size: 12px;
	margin: auto 0 0 0;
	padding: 0 0 6px 0;
	/*border-top:#dbdeff solid 1px;*/
}
.card_medium_s .bottom .info .type {
	padding: 0 14px 0 0;
	white-space: nowrap;
}
.card_medium_s .bottom .info .type span {
	padding: 0 3px 0 0;
}
.card_medium_s .bottom .info .time {
	-webkit-align-self: flex-start;
	align-self: flex-start;
	padding: 0 16px 0 0;
	white-space: nowrap;
}
.card_medium_s .bottom .info2 {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;

	font-size: 12px;
	margin: auto 0 0 0;
	padding: 6px 0 0 0;
	border-top:#dbdeff solid 1px;
}
.card_medium_s .bottom .info2 .name {
	margin-left: auto;
	font-weight: bold;
	color: #337ab7;
}





/* --------------------------------------------------
	カード　サムネイル
-------------------------------------------------- */

.card_thumbnail_box {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;

	width: 300px;
	height: 300px;
	margin: 0 0 14px 0;
}
.card_thumbnail_box_last {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;

	width: 300px;
	height: 300px;
}

.card_thumbnail {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;

	position: relative;
	width: 143px;
	height: 143px;
	border-radius: 8px;
	box-shadow: 2px 2px 5px #bababa;
	background-color: #FFFFFF;
	margin: 0 0 14px 0;
	cursor: pointer;
}
.card_thumbnail img {
	border-radius: 8px;
}
.card_thumbnail .amazon {
	border-radius: 8px;
	width: 128px;
	height: 128px;
}
.card_thumbnail .caption {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;

	position: absolute;
	bottom: 14px;
	width: 128px;
	background-color: #000000;
	background-color: rgba(0,0,0,0.6);
}
.card_thumbnail .caption .price {
	margin-left: auto;
	padding: 2px 6px 2px 0;
	font-size: 16px;
	color: #FFFFFF;
}
.card_thumbnail .caption .game {
	max-height: 38px;
	margin-left: auto;
	padding: 2px 4px;
	font-size: 12px;
	color: #FFFFFF;
	overflow: hidden;
}
.card_thumbnail .caption .ad {
	margin-left: auto;
	padding: 2px 6px 2px 0;
	font-size: 12px;
	color: #FFFFFF;
}





/* --------------------------------------------------
	カード　広告　300 x 250
-------------------------------------------------- */

.card_adsense_300x250 {
	margin: 0 0 14px 0;
}


/* --------------------------------------------------
	カード　小　フッター
-------------------------------------------------- */

.card_game {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	/*-webkit-justify-content: center;
	justify-content: center;*/
	/*-webkit-align-items: center;
	align-items: center;*/
	/*-webkit-align-items: flex-start;
	align-items: flex-start;*/
/*background-color: #cbc183;*/

	/*width: 110px;*/
	max-width: 110px;
	width: 28vw;

	border-radius: 8px;
	box-shadow: 2px 2px 5px #bababa;
	background-color: #FFFFFF;
	margin: 0 10px 10px 0;
	cursor: pointer;
}

.card_game .image {
	padding: 4px;
	border-radius: 8px;
	/*background-color: #cbaa83;*/
}
.card_game .image img {
	width: 100%;
	border-radius: 8px;
}
.card_game .title {
	/*border-radius: 8px;*/
	/*background-color: #cb8783;*/
	margin: 0;
	padding: 0 10px 6px;
	font-size: 10px;
	font-weight: bold;
}









/* --------------------------------------------------
	ゲーム登録　ヒーローイメージアップロード部分
-------------------------------------------------- */

.hero_image_edit {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;

	margin: 0 20px 20px 20px;
}

.hero_image_edit .box {
	padding: 10px 0 0 0;
}
.hero_image_edit .box .image {
	margin: 10px 0 0 0;
}
.hero_image_edit .box .delete {
	margin: 10px 0 0 0;
}
.hero_image_edit .box .upload {
	margin: 10px 0 0 0;
}




/* --------------------------------------------------
	ページャー上書き
-------------------------------------------------- */

ul.pagination_box {
    margin: 0;
    padding: 0;

}
/*.pagination_box .active {
	z-index: 0;
}*/
.pagination_box .active a {
	z-index: 1;
}
.pagination_box li a {
	box-shadow: 1px 1px 3px #bababa;
	z-index: 0;
}


/* -------------------------------------------------
	ソーシャルボタン　上書き
-------------------------------------------------- */

.social_button_box {
	position: relative;
	float: left;
	width: 53px;
	cursor: pointer;
	margin: 5px;
	padding: 0;
}
.social_button_box img {
	box-shadow: 1px 1px 3px #bababa;
}
.social_button_count {
	position: absolute;
	top: 33px;
	left: 0;
	text-align: center;
	width: 53px;
	/*font-weight: bold;*/
}




/* -------------------------------------------------
	Personal Box
-------------------------------------------------- */

.personal_box {
	padding: 0;
}
.personal_box .box {
    display: table;
}
.personal_box .box .left {
    display: table-cell;
}
.personal_box .box .right {
    padding: 0 0 0 10px;
    display: table-cell;
    vertical-align: top;
}
.personal_box .box .handle_name {
    margin: 0 3px 0 0;
    padding: 0;
    float: left;
}
.personal_box .box .status {
    float: left;
}
.personal_box .box .info {
    margin: 0;
    padding: 0;
    clear: both;
}
.personal_box .box .info .online {
    margin: 5px 5px 0 0;
    padding: 3px 6px 2px 6px;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    border-radius: 2px;
    background-color: #3cb371;
    float: left;
}
.personal_box .box .info .offline {
    margin: 5px 5px 0 0;
    padding: 3px 6px 2px 6px;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    border-radius: 2px;
    background-color: #a9a9a9;
    float: left;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .personal_box .box .info .online {
        margin: 5px 5px 0 0;
        padding: 3px 6px 2px 6px;
        font-size: 12px;
        color: #FFFFFF;
        text-align: center;
        border-radius: 2px;
        background-color: #3cb371;
        float: left;
    }
    .personal_box .box .info .offline {
        margin: 5px 5px 0 0;
        padding: 3px 6px 2px 6px;
        font-size: 12px;
        color: #FFFFFF;
        text-align: center;
        border-radius: 2px;
        background-color: #a9a9a9;
        float: left;
    }
}

.community_personal_event_button {
    margin: 5px 5px 0 0;
    padding: 0;
    float: left;
}
.personal_box_explanation {
    margin: 5px 0 10px 20px;
    padding: 0;
}



/* -------------------------------------------------
	告知
-------------------------------------------------- */

.announcement_panel {
	margin: 0 0 20px;
	border-radius: 6px;
	box-shadow: 1px 1px 1px #bababa;
	background-color: #FFFFFF;
}
.announcement_panel .contents {
	background-color: #FFFFFF;
	border-radius: 0 0 6px 6px;
}
.announcement_panel .contents .pb {
	padding: 10px;
}
.announcement_panel .contents .comment_box {
	border-top-width: 1px;
    border-top-style: dashed;
    border-top-color: #CCCCCC;
	padding: 10px;
}
.announcement_panel .contents .comment_box_s {
	border-top-width: 1px;
    border-top-style: dashed;
    border-top-color: #CCCCCC;
	padding: 5px 0 5px 0;
}
.announcement_panel .contents .comment_box .image_movie {
	padding: 0 0 10px;
}
.announcement_panel .contents .comment_box_s .image_movie {
	padding: 0 0 5px;
}
.announcement_panel .contents .comment_box .title {
	font-weight: bold;
}
.announcement_panel .contents .comment_box_s .title {
	padding: 0 10px 5px 10px;
	font-weight: bold;
}
.announcement_panel .contents .comment_box .comment {
	padding: 0 0 0 0;
}
.announcement_panel .contents .comment_box_s .comment {
	padding: 5px 10px 5px 10px;
	line-height: 1.3em;
}
.announcement_panel .contents .menu {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;

	min-width: 100%;
	width: 100%;
	border-top-width: 1px;
    border-top-style: dashed;
    border-top-color: #CCCCCC;
	/*padding: 5px 0 5px 0;*/
}
.announcement_panel .contents .menu .date {
	margin: 0 auto 0 0;
	padding: 5px 0 5px 10px;
}
.announcement_panel .contents .menu .button {
	padding: 5px 10px 5px 0;
}
.announcement_panel .pagination {
    margin: 0 0 0 0;
    padding: 5px 5px;
    clear: both;
}




/*
.announcement_panel .image {
    margin: 0 0 10px 0;
    padding: 0;
}
.announcement_panel .title {
    margin: 10px 0 0 0;
    padding: 10px 0 20px 0;
    border-top-width: 1px;
    border-top-style: dashed;
    border-top-color: #CCCCCC;
    font-weight: bold;
}
.announcement_panel .comment {
    margin: 0;
    padding: 0;
}
.announcement_panel .pagination {
    margin: 10px 0 0 0;
    padding: 0 0 0 0;
    clear: both;
}
.announcement_panel .menu {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;

	min-width: 100%;
	width: 100%;
	border-top-width: 1px;
    border-top-style: dashed;
    border-top-color: #CCCCCC;
	padding: 5px 0 5px 0;
}
.announcement_panel .menu .date {
	margin: 0 auto 0 0;
	padding: 0 0 0 10px;
}*/



/* -------------------------------------------------
	BBS
-------------------------------------------------- */

.bbs_panel {
	margin: 0 0 20px;
	border-radius: 6px;
	box-shadow: 1px 1px 1px #bababa;
	background-color: #FFFFFF;
}
.bbs_panel .heading {
	border-radius: 6px 6px 0 0;
	color: #245269;
	background-color: #dff0d8;
	border:#d6e9c6 solid 1px;
	/*box-shadow: 1px 1px 1px #bababa;*/
	padding: 10px 16px;
}
.bbs_panel .heading h2 {
    margin: 0;
    padding: 3px 0 2px 0;
    font-size: 14px;
}
.bbs_panel .contents {
	background-color: #FFFFFF;
	/*box-shadow: 1px 1px 1px #bababa;*/
	/*padding: 0 0 10px 0;*/
}
.bbs_panel .contents .pb {
	padding: 10px;
}
.bbs_panel .contents .pb_s {
	padding: 10px;
}
.bbs_panel .contents .comment_box {
	border-top-width: 1px;
    border-top-style: dashed;
    border-top-color: #CCCCCC;
	padding: 10px;
}
.bbs_panel .contents .comment_box_s {
	border-top-width: 1px;
    border-top-style: dashed;
    border-top-color: #CCCCCC;
	padding: 5px 0 5px 0;
}
.bbs_panel .contents .comment_box .image_movie {
	padding: 0 0 10px;
}
.bbs_panel .contents .comment_box_s .image_movie {
	padding: 0 0 5px;
}
.bbs_panel .contents .comment_box .comment {
	padding: 0 0 0 0;
}
.bbs_panel .contents .comment_box_s .comment {
	padding: 5px 10px 5px 10px;
	line-height: 1.3em;
}
.bbs_panel .contents .menu {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;

	min-width: 100%;
	width: 100%;
	border-top-width: 1px;
    border-top-style: dashed;
    border-top-color: #CCCCCC;
	padding: 5px 0 5px 0;
}
.bbs_panel .contents .menu .date {
	margin: 0 auto 0 0;
	padding: 0 0 0 10px;
}
.bbs_panel .contents .menu .date_s {
	margin: 0 auto 0 0;
	padding: 0 0 0 10px;
}
.bbs_panel .contents .menu .button {
	padding: 0 10px 0 0;
}
.bbs_panel .contents .menu .button_s {
	padding: 0 10px 0 0;
}


/* -------------------------------------------------
	BBS コメント
-------------------------------------------------- */

.bbs_comment_form {
	/*margin: 10px 0 10px 0;
	padding: 10px 10px 10px 10px;*/
	background-color: #f5f8fe;
}
.bbs_comment_form_s {
	/*margin: 10px 0 10px 0;
	padding: 10px 5px 10px 5px;*/
	background-color: #f5f8fe;
}

.bbs_comment_box {
	padding: 0;
}
.bbs_comment_box .pb {
	padding: 10px;
}
.bbs_comment_box .pb_s {
	padding: 10px;
}
.bbs_comment_box .comment_box {
	border-top-width: 1px;
    border-top-style: dashed;
    border-top-color: #CCCCCC;
	padding: 10px;
}
.bbs_comment_box .comment_box_s {
	border-top-width: 1px;
    border-top-style: dashed;
    border-top-color: #CCCCCC;
	padding: 5px 0 5px 0;
}
.bbs_comment_box .comment_box .image_movie {
	padding: 0 0 10px;
}
.bbs_comment_box .comment_box_s .image_movie {
	padding: 0 0 5px;
}
.bbs_comment_box .comment_box .comment {
	padding: 0 0 0 0;
}
.bbs_comment_box .comment_box_s .comment {
	padding: 5px 10px 5px 10px;
	line-height: 1.3em;
}
.bbs_comment_box .menu {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;

	min-width: 100%;
	width: 100%;
	border-top-width: 1px;
    border-top-style: dashed;
    border-top-color: #CCCCCC;
	padding: 5px 0 5px 0;
}
.bbs_comment_box .menu .date {
	margin: 0 auto 0 0;
	padding: 0 0 0 10px;
}
.bbs_comment_box .menu .date_s {
	margin: 0 auto 0 0;
	padding: 0 0 0 10px;
}
.bbs_comment_box .menu .button {
	padding: 0 10px 0 0;
}
.bbs_comment_box .menu .button_s {
	padding: 0 10px 0 0;
}


/* -------------------------------------------------
	BBS 返信
-------------------------------------------------- */

.bbs_reply_enclosure {
	/*border-radius: 8px;*/
	border-left-width: 3px;
    border-left-style: solid;
    border-left-color: #CCCCCC;
	background-color: #F8F8FF;
}
.bre_margin {
	margin: 12px 0 0 15px;
}
.bre_margin_s {
	margin: 12px 0 0 0;
}
.bbs_reply_enclosure .pb {
	padding: 10px;
}
.bbs_reply_enclosure .pb_s {
	padding: 10px;
}
.bbs_reply_enclosure .comment_box {
	border-top-width: 1px;
    border-top-style: dashed;
    border-top-color: #CCCCCC;
	padding: 10px;
}
.bbs_reply_enclosure .comment_box_s {
	border-top-width: 1px;
    border-top-style: dashed;
    border-top-color: #CCCCCC;
	padding: 10px 0 10px 0;
}
.bbs_reply_enclosure .comment_box .image_movie {
	padding: 0 0 10px;
}
.bbs_reply_enclosure .comment_box_s .image_movie {
	padding: 0 0 5px;
}
.bbs_reply_enclosure .comment_box .comment {
	padding: 0 0 0 0;
}
.bbs_reply_enclosure .comment_box_s .comment {
	padding: 0 10px 0 10px;
	line-height: 1.3em;
}
.bbs_reply_enclosure .menu {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;

	min-width: 100%;
	width: 100%;
	border-top-width: 1px;
    border-top-style: dashed;
    border-top-color: #CCCCCC;
	padding: 5px 0 5px 0;
}
.bbs_reply_enclosure .menu .date {
	margin: 0 auto 0 0;
	padding: 0 0 0 10px;
}
.bbs_reply_enclosure .menu .date_s {
	margin: 0 auto 0 0;
	padding: 0 0 0 10px;
}
.bbs_reply_enclosure .menu .button {
	padding: 0 10px 0 0;
}
.bbs_reply_enclosure .menu .button_s {
	padding: 0 10px 0 0;
}



/* -------------------------------------------------
	募集
-------------------------------------------------- */

.rec_panel {
	margin: 0 0 20px;
	border-radius: 6px;
	box-shadow: 1px 1px 1px #bababa;
	background-color: #FFFFFF;
}
.rec_panel .heading {
	border-radius: 6px 6px 0 0;
	color: #245269;
	background-color: #dff0d8;
	border:#d6e9c6 solid 1px;
	/*box-shadow: 1px 1px 1px #bababa;*/
	padding: 10px 16px;
}
.rec_panel .heading h2 {
    margin: 0;
    padding: 3px 0 2px 0;
    font-size: 14px;
}
.rec_panel .contents {
	border-radius: 6px;
	background-color: #FFFFFF;
	/*box-shadow: 1px 1px 1px #bababa;*/
	/*padding: 0 0 10px 0;*/
}
.rec_panel .contents .pb {
	padding: 10px;
}
.rec_panel .contents .pb_s {
	padding: 10px;
}
.rec_panel .contents .comment_box {
	border-top-width: 1px;
    border-top-style: dashed;
    border-top-color: #CCCCCC;
	padding: 10px;
}
.rec_panel .contents .comment_box_s {
	border-top-width: 1px;
    border-top-style: dashed;
    border-top-color: #CCCCCC;
	padding: 5px 0 5px 0;
}
.rec_panel .contents .comment_box .image_movie {
	padding: 0 0 10px;
}
.rec_panel .contents .comment_box_s .image_movie {
	padding: 0 0 5px;
}
.rec_panel .contents .comment_box .comment {
	padding: 0 0 0 0;
}
.rec_panel .contents .comment_box_s .comment {
	padding: 5px 10px 5px 10px;
	line-height: 1.3em;
}
.recruitment_id_box {
	padding: 0 10px 20px 10px;
}
.recruitment_box .menu {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;

	min-width: 100%;
	width: 100%;
	border-top-width: 1px;
    border-top-style: dashed;
    border-top-color: #CCCCCC;
	padding: 5px 0 5px 0;
}
.recruitment_box .menu .date {
	margin: 0 auto 0 0;
	padding: 0 0 0 10px;
}
.recruitment_box .menu .date_s {
	margin: 0 auto 0 0;
	padding: 0 0 0 10px;
}
.recruitment_box .menu .button {
	padding: 0 10px 0 0;
}
.recruitment_box .menu .button_s {
	padding: 0 10px 0 0;
}



/* -------------------------------------------------
	コミュニティ / メンバー
-------------------------------------------------- */

.member_box {
	margin: 0 0 0 0;
	padding: 10px;
	background-color: #FFFFFF;
	border-radius: 6px;
	box-shadow: 1px 1px 1px #bababa;
}
.member_profile_box {
	margin: 10px 0 0 0;
	padding: 10px 0 0 0;
	border-top-width: 1px;
    border-top-style: dashed;
    border-top-color: #CCCCCC;
}




/* -------------------------------------------------
	共通フォーム
-------------------------------------------------- */

.form_common_box {
	margin: 0;
	padding: 10px;
}
.form_common_box_s {
	margin: 0;
	padding: 10px 5px 10px 5px;
}



/* -------------------------------------------------
	ヘルプ
-------------------------------------------------- */

.uc_bbs_title {
    margin: 0px 0px 0px 0px;
    padding: 3px 0px 2px 0px;
    font-size: 14px;
}



/* -------------------------------------------------
	線
-------------------------------------------------- */

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
}
hr.style-two {
    border: 0;
    height: 1px;
	/*margin: 15px 0;*/
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}
.hr-text {
	line-height: 1em;
	position: relative;
	outline: 0;
	border: 0;
	color: black;
	text-align: center;
	height: 1.5em;
	opacity: .5;
}
.hr-text:before {
	content: '';
	background: -webkit-linear-gradient(left, transparent, #818078, transparent);
	background: linear-gradient(to right, transparent, #818078, transparent);
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 1px;
}
.hr-text:after {
	content: attr(data-content);
	position: relative;
	display: inline-block;
	color: black;
	padding: 0 .5em;
	line-height: 1.5em;
	color: #818078;
	background-color: #fcfcfa;
}
hr.style11 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}
hr.style12 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
    border: 0;
}
hr.style13 {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}




/* -------------------------------------------------
	YouTube
-------------------------------------------------- */

.video_box {
    margin: 0;
    padding: 0;
    position: relative;
	/*width: 100%;*/
    max-width: 320px;

	/*background-color: red;*/
}
.video_thumbnail img {
    /*width: 100%;*/
	max-height: 180px;
}
.video_play_button {
    position: absolute;
    top: 0;
    left: 0;
}
.video_play_button {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
.video_play_button:hover {
  opacity: 0.7;
}



/* -------------------------------------------------
	共通
-------------------------------------------------- */

/*.font_size_10px {
	font-size: 10px;
}
.font_size_12px {
	font-size: 12px;
}
.font_size_14px {
	font-size: 14px;
}
.font_size_16px {
	font-size: 16px;
}
.font_size_20px {
	font-size: 20px;
}
.font_size_28px {
	font-size: 28px;
}
.font_size_30px {
	font-size: 30px;
}
.font_size_40px {
	font-size: 40px;
}*/




/* -------------------------------------------------
	Wiki
-------------------------------------------------- */

.wiki_edit_ver1 {
	margin: 0 0 20px 0;
	padding: 16px 16px 0 16px;
	background-color: white;
	border-radius: 8px;
	box-shadow: 2px 2px 5px #bababa;
}



/* -------------------------------------------------
	Last Sidebar User Style:
-------------------------------------------------- */

.slideMenu {
	/*visibility:hidden;*/
	display: none;
}
.slideMenu .title {
	margin: 0;
	padding: 24px 16px 16px 16px;
	overflow:hidden;
}
.slideMenu .box {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;

	border-bottom: dotted 1px #333;
	margin: 16px 16px 0 16px;
}
.slideMenu .box .left {
	padding: 0 10px 0 0;
	/*background-color: #e45d5b;*/
}
.slideMenu .box .right {
	padding: 2px 0 0 0;
	color: #337ab7;
	/*background-color: #a8e45b;*/
}
/*.slideMenu .box .right {
	padding: 2px 0 0 0;
	font-weight: bold;
}*/
.slideMenu .box .right .selected {
	color: #000000;
	/*font-weight: bold;*/
}
